$light-color: #f4f4f4;
$font-stack: Satoshi, General Sans;
$primary-color: #0e6cff;
$secondary-color: #ff8700;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: lightblue;
  font-family: Satoshi;
  line-height: 1.6;
}

a {
    text-decoration: none;
    color: white;
  }

img {
  width: 100%;
}

.showcase {
  background-color: $primary-color;
  color: #fff;
  height: 600px;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul {
      display: flex;
      list-style: none;
    }

    li {
      padding: 15px;
    }

    a {
      color: #fff;
    }
  }
}

.container {
  max-width: 1100px;
  padding: 0 30px;
  margin: 0 auto;
  overflow: hidden;
}
